{% block body %}
<div>
    <h1>IRIS PREDICTOR</h1>

    <form action="/api/v1/predict" method="POST">
        <div>
            <p>Sepal Length</p>
            <input type="text" name = "sepal_length" id="sepal_length">
        </div>
        
        <div>
            <p>Sepal Width</p>
            <input type="text" name = "sepal_width" id="sepal_width">
        </div>

        <div>
            <p>Petal Length</p>
            <input type="text" name = "petal_length" id="petal_length">
        </div>

        <div>
            <p>Petal Width</p>
            <input type="text" name = "petal_width" id="petal_width">
        </div>

        <input type="submit" value="Predict">
    </form>
    <h2>Predicted: {{pred}}</h2>
</div>
{% endblock %}